.footerContainer{
    padding: 79px 70px 0px 96px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.sectionContainer{
    display: flex;
    justify-content: space-between;
    height: 317px;
}

.sectionContainerBottom{
    display: flex;
    justify-content: space-between;
    height: 317px;
    margin-top:50px;
}

.subSectionTop{
    width: 37.5rem;
}

.subSectionBottom{
    width: 24rem;
    margin-right: 6.25rem;
}

.emailBox{
    width: 34rem;
    height: 3rem;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.emailInput{
    width: 18.75rem;
    padding: 14px 24px 14px 24px;
    gap: 8px;
    font-size: 18px;
    outline: none;
    color: #BFC8CD;    ;
}


.subscribeButton{
    width: 11.5rem;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid #BFC8CD ;
    background-color: black;
    color: #BFC8CD;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}


.flagContainer{
    width: 4.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialHandles{
    display: flex;
    width: Hug (76px)px;
    height: Hug (32px)px;
    gap: 12px;
    cursor: pointer;
}

.paymentModes{
    width: Hug (376px)px;
    height: Hug (35px)px;
    gap: 8px;
    display: flex;
    cursor: pointer;
}

.transactionStatement{
    font-size: 12px;
}
